body{
    background-image: url('https://c0.wallpaperflare.com/preview/968/1021/122/macbook-computer-laptop-technology.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

footer{
    margin-block-end: 20px;
}

nav{
    display: inline;
}

p{
    text-align: center;
    font-size: larger;
    color: aliceblue;

}

h1{
    text-align: left;
    font-size: larger;
    color: aliceblue;
    
}