body{
    background-image: url('https://c0.wallpaperflare.com/preview/968/1021/122/macbook-computer-laptop-technology.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

footer{
    margin-block-end: 20px;
}

a{
    display: inline;
    text-decoration: none;
    text-emphasis: bold;
    color: aliceblue;
}
li{
    display: inline;
    text-align: center;
}
nav{
    background-color: black;
    display: inline-block;
    border: 3px white solid;
    text-align: center;
    align-items: center;
}

p{
    text-align: center;
    font-size: larger;
    color: aliceblue;
    border: 3px black solid;
    background-color: black;

}

h1{
    text-align: left;
    font-size: larger;
    color: aliceblue;
    
}