
    main{
        background-image: url('https://c0.wallpaperflare.com/preview/968/1021/122/macbook-computer-laptop-technology.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }
    
    body{
        margin: 0px 0px 0px 0px;
    }
    header{
        background-image: url("https://cdn2.hubspot.net/hubfs/4783129/mara.jpg");
    }
    footer{
        margin-block-end: 20px;
        margin-top:auto; 
        background-color: whitesmoke;
        margin-bottom: 0px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        padding-top: 15px;
    
    }
    
    a{
        color: aliceblue;
    }
    nav li{
        text-align: center;
        margin-top: 13px;
        font-size: large;
        display: inline-block;
        text-decoration: none;
    }
    nav{
        background-color: rgba(0, 0, 0, 0.61);
        height: 50px;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    p{
    
        color: aliceblue;
        border: 3px black solid;
        background-color: black;
        display: inline;
        font-size: 30px;
    
    }

   h2{
    
        
        font-size: 40px;

    
    }
    
    
    h1{
        text-align: center;
        padding-top: 15px;
        font-size: x-larger;
        color: aliceblue;
        margin-top: 0px;
    
    }
    
    button {
        text-align: center;
        /* margin-left: 210px; */
        /* margin-top: 100px; */
        size: 40px;
        font-size: 30px;
        background-color: white;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bolder;
    }
    
    #buttons{
        margin-top: 70px;
    }
    
    div{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.61);
       
    }

    div li{
        text-align: left;
        margin-top: 20px;
        font-size: large;
        text-decoration: none;
        font-size: larger;
        font-weight: bold;
        color: whitesmoke;
    }
    main{
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }