body{
    background-image: url('https://c0.wallpaperflare.com/preview/968/1021/122/macbook-computer-laptop-technology.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

footer{
    margin-top: 250px;
}

nav{
    background-color: white;
    margin-right: 60px;
    display: inline-block;
}
nav ul li{
    
    margin-right: 250px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;

}
a{
    text-decoration: none;
    color: black;
}
p{
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    color: aliceblue;
    background-color: grey;
    display: inline-block;
}

h1{
    text-align: left;
    font-size: larger;
    color: black;
    background-color: blanchedalmond;
    display: inline-block;
    text-align: center;
    font-size: 50px;

    
}